.add-review-div {
  background-color: #1a5b92;
  height: 100vh;
  display: grid;
  grid-template-areas: 
   "A R R R R R R R R R R"
}

.album-div {
  grid-area: A;
}

.review-form {
 
  position: relative;
  right: 200px;
 justify-content: center;
 align-content: center;
 grid-area: R;
}


